body {
	background-color: lightblue;
}

h1 {
	color: white;
	text-align: center;
}

.whole {
	border-radius: 5%;
	width: 512px;
	height: 288px;
}

.handle {
	border-radius: 5%;
	width: 512px;
	height: 288px;
}

.controls {
	border-radius: 5%;
	width: 512px;
	height: 288px;
}